.wave-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.pngmart.com/files/12/Yellow-Wave-PNG-Free-Download.png");
    background-repeat: repeat-x;
    background-position: bottom;
    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
  
  @keyframes wave {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 100%;
    }
  }